/* The Overlay (background) */
.m_overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,224,27); /* Black fallback color */
  /*background-color: rgba(255,224,27, 0.9); /* Black w/opacity */*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.m_overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 100px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.m_overlay .nav-link {
  padding: 8px 0;
  text-decoration: none;
  font-size: 20px;
  /*border-bottom:1px #241c15 dotted;*/
  color: #241c15;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.m_overlay .nav-link:hover, .m_overlay .nav-link:focus {
  color: #007c89;
}

/* Position the close button (top right corner) */
.m_overlay .closebtn {
 /* position: absolute;
  top: 20px;
  right: 45px;*/
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
 /* .m_overlay a {font-size: 20px}
  .m_overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }*/
}
